---
common:
  hwraid:
    enabled: True
    clients:
      - tw-cli
      - megacli
  ipmi:
    enabled: True
    serial_console: ttyS1
  python_extra_packages: []
  ssh_private_keys: []
  ssh:
    allow_from:
      - 0.0.0.0/0
      - ::/0
    disable_root: False
    disable_dns: True
  pip_version: 1.4.1
  setuptools_version: system
  ursula_monitoring:
    path: /opt/ursula-monitoring
    method: git # git|tar
    git_repo: https://github.com/blueboxgroup/ursula-monitoring.git
    git_rev: master
    tar_url: https://github.com/blueboxgroup/ursula-monitoring/archive/master.tar.gz
    tar_version: master

