---
dependencies:
  - role: apt-repos
  - role: monitoring-common
  - role: logging-config
    service: neutron
    logdata: "{{ neutron.logs }}"
  - role: openstack-source
    project_name: neutron
    project_rev: "{{ neutron.source.rev }}"
    python_requirements:
      - { name: alembic, version: "{{ neutron.alembic_version }}" }
    rootwrap: True
    when: openstack_install_method == 'source'
  - role: openstack-package
    project_name: neutron
    rootwrap: True
    package_alternatives: "{{ neutron.package.console_scripts }}"
    when: openstack_install_method == 'package'
